# Measurements Data Exploratory Analysis

### First Loading the Dataset and printing basic metadata

In [1]:
#importing libraries
from pandas import read_csv

In [2]:
#loading the dataset
measurements = read_csv('measurements_coding_challenge.csv', delimiter=';')

In [3]:
measurements.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15828 entries, 0 to 15827
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   timestamp           15828 non-null  object
 1   serial              15828 non-null  int64
 2   grid_purchase       14390 non-null  object
 3   grid_feedin         15828 non-null  object
 4   direct_consumption  2 non-null      object
 5   date                15828 non-null  object
dtypes: int64(1), object(5)
memory usage: 742.1+ KB

### Let's see what we are dealing with here
First we need to see those two non-null values

In [4]:
measurements[measurements['direct_consumption'].notna()]

,timestamp,serial,grid_purchase,grid_feedin,direct_consumption,date
3290,2023-05-22T19:36:00.000Z,1083091999,Dev test,Dev test,Dev test,2023-05-22
3329,2023-05-22T20:09:00.000Z,1057045008,Dev test,Dev test,Dev test,2023-05-22

In [ ]:
measurements.head(10)

,timestamp,serial,grid_purchase,grid_feedin,direct_consumption,date
0,2023-05-22T15:40:00.000Z,1711356005,673,0,NaN,2023-05-22
1,2023-05-22T15:54:00.000Z,2105167400,NaN,36,NaN,2023-05-22
2,2023-05-22T16:14:00.000Z,1083091999,7012,0,NaN,2023-05-22
3,2023-05-22T04:57:00.000Z,970568993,0,2045,NaN,2023-05-22
4,2023-05-22T16:30:00.000Z,1559834999,27,0,NaN,2023-05-22
5,2023-05-22T18:21:00.000Z,1028817402,0,0,NaN,2023-05-22
6,2023-05-22T18:27:00.000Z,1559834999,27,0,NaN,2023-05-22
7,2023-05-22T18:23:00.000Z,1083091999,8115,0,NaN,2023-05-22
8,2023-05-22T16:26:00.000Z,1057045008,1378,0,NaN,2023-05-22
9,2023-05-22T18:43:00.000Z,1771861586,0,0,NaN,2023-05-22

In [ ]:
measurements.tail(10)

,timestamp,serial,grid_purchase,grid_feedin,direct_consumption,date
15818,2023-05-22T16:25:00.000Z,517262015,30,0,NaN,2023-05-22
15819,2023-05-22T04:58:00.000Z,1559834999,0,1521,NaN,2023-05-22
15820,2023-05-22T04:49:00.000Z,1028817402,0,0,NaN,2023-05-22
15821,2023-05-22T04:54:00.000Z,1135739597,82,0,NaN,2023-05-22
15822,2023-05-22T16:35:00.000Z,1135739597,6498,0,NaN,2023-05-22
15823,2023-05-22T17:15:00.000Z,2105167400,NaN,0,NaN,2023-05-22
15824,2023-05-22T18:58:00.000Z,517262015,29,0,NaN,2023-05-22
15825,2023-05-22T15:04:00.000Z,1135739597,6918,0,NaN,2023-05-22
15826,2023-05-22T18:05:00.000Z,970568993,460,0,NaN,2023-05-22
15827,2023-05-22T16:57:00.000Z,1083091999,5652,0,NaN,2023-05-22

So, at first glance we should ensure consistent data types
- Task #1 -> remove the Dev test rows to ensure data consistency
- Task #2 -> convert grid_purchase, grid_feedin columns, and direct_consumption to int data type
- Task #3 -> remove the redundant date column
- Task #4 -> convert the timestamp column into datetime data type
- Task #5 -> set the timestamp column as index for smooth data slicing
- Task #6 -> replace null values with zeros for the grid_purchase, and the grid_feedin columns
- Task #7 -> add a flag column to trigger where the direct_consumption is not null

These are the tasks that the cleaned_dataset() function should execute in the pipeline to return a cleaned dataset